{% extends 'base.html' %}

{% block title %}User Settings{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Settings</h1>

    <ul class="nav nav-tabs" id="settingsTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="true">Account</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security" type="button" role="tab" aria-controls="security" aria-selected="false">Security</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications" type="button" role="tab" aria-controls="notifications" aria-selected="false">Notifications</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="delete-account-tab" data-bs-toggle="tab" data-bs-target="#delete-account" type="button" role="tab" aria-controls="delete-account" aria-selected="false">Danger Zone</button>
        </li>
    </ul>
    <div class="tab-content" id="settingsTabsContent">
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
            {% include 'devcord/partials/_account.html' %}
        </div>
        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
            {% include 'devcord/partials/_security.html' %}
        </div>
        <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
            {% include 'devcord/partials/_notifications.html' %}
        </div>
        <div class="tab-pane fade" id="delete-account" role="tabpanel" aria-labelledby="delete-account-tab">
             {% include 'devcord/partials/_delete_account.html' %}
        </div>
    </div>

</div>
{% endblock %} 